<h1>
    Hello this is To do list app by Ritesh
</h1>

<form method="POST" action="/">
    {% csrf_token %} <!-- For security purpose-->
    {{form.title}} <!-- To get only title field of form-->
    <input type="submit" name="Create todo task">
</form>

{% for task in tasks %}
<div>
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete_task' task.id %}">Delete</a>
    
    {% if task.complete == True %}
    <strike>{{task}}</strike>
    {% else %}
    <span>{{task}}</span>
    {% endif %}
</div>
{% endfor %}
 
